
.Send-container{
  // display: flex;
  // justify-content: center;
  padding-left: 210px;
  position: absolute;
  bottom: 0;
}

.message{ //* MessageList.js within SendContainer.js
 padding-left: 210px;
}

.Main-send-input{ //* MainInput.js within SendContainer.js
 width: 80%;
 height: 100px;
 font: 14px/22px "Lato", Arial, sans-serif; //* tentative, remove later
}

//! Error messages
.Error-message-1{
  padding-left: 210px;
}